.details-page {
  background: lightgray;
  padding: 20px;
  .white-box {
    padding: 20px;
    background: #fff;
  }

  .sub-menu {
    display: flex;
    justify-content: space-between;
    
     a {
      color: #2c91a3;
      padding: 20px;
      text-decoration: none;
    }
    
    .direction{
      display: flex;
      flex-direction: row;
      
    }

    .sub-links{
      display: flex;
      flex-direction: row;
    }
  }

  .content-area {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;


    .media-column {

      .gallery {
        .slider {
          .main-img {
            position: relative;
            .arrows {
              top: 0;
              bottom:0;
              height: 100%;
              padding: 0 10px;
              position: absolute;
              background: rgba(0,0,0, .5);
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              cursor: pointer;
              font-size: 2rem;

              &.left-arrow {
                left: 0;
              }

              &.right-arrow {
                right: 0;
              }
            }

            .img-1 {
              height: 400px;
              width: 100%;
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;
              padding: 10px;
              margin: 20px 0;
            }
          }
        }
        .thumbnails {
          display: grid;
          grid-template-columns: repeat(6,1fr);
          grid-gap: 5px;
          .thumb-img {
            height: 100px;
            width: 100px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            padding: 5px 0;
            cursor: pointer;
          }
        }
      }
    }
    .details-column {
      .date {
        font-size: .9rem;
        color: #2b2727;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .price {
        font-size: 1.5rem;
        color: green;
        font-weight: 400;
        margin-bottom: 30px;
      }

      label {
        font-weight: 700;
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        display: block;
        margin-bottom: 10px;
      }

      .more-details {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 10px;
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid lightgray;

        .info {

          h5 {
            font-size: 1.1rem;
            font-weight: 300;
            text-transform: capitalize;
            margin-bottom: 10px;
          }
        }
      }
      .description{
        p {
          color: #2b2727;
          line-height: 1.5;
          font-size: .9rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}