.listings-page {
  background: #fff;

  #filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 50px 0;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 600;
      margin-bottom: 1.3rem;
    }
    select {
      background: #fff;
      border-radius: 5px;
      font-size: 1.2rem;
      padding: 5px;
      min-width: 100px;
      border: 2px solid #818181;
      color: #0e0a19;
      margin-right: 15px;
    }

      &.button {
        flex-direction: row;
        align-items: flex-end;
      }
      
      .primary-btn{
        background: turquoise;
        padding: 10px 20px;
        border-radius: 5px;
        border: 2px solid #818181;
        &:hover {
          background: yellow;

        }
      }

      .reset-btn {
        background: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        border: 2px solid #818181;
        cursor: pointer;
        &:hover {
          background: yellow;
        }
      }
      .primary-btn, .reset-btn {
        padding: 10px 20px;
        margin-right: 5px;
        color: #0e0a19;
       }
    }

    #list-view {
        background: lightgray;
        padding: 20px 0;

        .white-box {
          background: #fff;
          padding: 20px 10px;

        }

      .change-view {
        display: flex;
        flex-direction: row;     
      }

      .all-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px 20px;
        padding: 20px 0;

        .item {
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.58);          border-radius: 5px;
          overflow: hidden;

          .image {
            
            background: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Jeep_Wrangler_JK_-_001.jpg");
            height: 250px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            padding: 10px;

            .price {
              background: #fff;
              position: absolute;
              padding: 5px 10px;
              font-weight: 500;
              border: 1px solid #000;
              border-radius: 6px;
              color: green;

            }
          }

          .details {

            padding: 10px;

            .fa-star {
              position: absolute;
              top: 10px;
              right: 10px;
              font-size: 1.3rem;
              color: rgb(236, 236, 11);

              &:hover {
                color: turquoise;
                cursor: pointer;
              }

            }

            h5 {
              color: #3e0bca;
              font-size: 1.2rem;
              line-height: 1.5rem;
              margin-bottom: 5px;
              text-transform: capitalize;
              position: relative;
            }

            h6 {
              color: #444242;
              font-size: 0.9rem;
              text-transform: capitalize;
            }
          }
        }
      }
    } 
  }

 








